<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<%= render partial: "pages/cards/card", collection: @img_array, as: :img_hash %>

<%= render partial: "pages/forms/accept_decline_form", locals: {accept_or_decline: @accept_or_decline} %>
